amqp==2.3.2
attrs==18.2.0
billiard==3.5.0.4
celery==4.2.1
click==6.7
diskcache==3.0.1
Django==1.11.4
django-appconf==1.0.2
django-cors-headers==2.1.0
django-python3-ldap==0.11.1
django-user-accounts==2.0.3
djangorestframework==3.6.3
djangorestframework-gis==0.11.2
elasticsearch==2.4.0
geolinks==0.2.0
kombu==4.2.1
ldap3==2.3
lxml==3.6.2
munch==2.3.2
numpy==1.14.5
OWSLib==0.16.0
pandas==0.23.4
Pillow==3.3.1
postgis-loader==1.0.0
psycopg2==2.7.3
psycopg2-binary==2.7.4
pvlib==0.5.2
pyasn1==0.3.2
pycsw==2.2.0
pyproj==1.9.5.1
pysolar==0.7
python-dateutil==2.7.3
python-logstash==0.4.6
pytz==2018.5
redis==2.10.5
requests==2.11.1
rules==1.3
Shapely==1.5.17
six==1.10.0
-e git+git@github.com:be-lb/solar-loader.git@30e87144e9293da655637ce8785875e58a477895#egg=solar_loader
urllib3==1.23
uWSGI==2.0.15
vine==1.1.4
xmltodict==0.10.2
